In [2]:
from dataTable import *
from IPython.core.display import display, HTML
A = ExTable('TestData/A.xlsx', 'Sheet1', skipRows=[1])
B = ExTable('TestData/B.xlsx', 'Sheet1', skipRows=[1])
def display_side_by_side(dfs:list, captions:list):
    """Display tables side by side to save vertical space
    Input:
        dfs: list of pandas.DataFrame
        captions: list of table captions
    """
    output = ""
    combined = dict(zip(captions, dfs))
    for caption, df in combined.items():
        output += df.style.set_table_attributes("style='display:inline'").set_caption(caption)._repr_html_()
        output += "\xa0\xa0\xa0"
    display(HTML(output))
diff = A.Compare(B)
display_side_by_side([diff['diffA'], diff['diffB']], ['A', 'B'])
display_side_by_side([diff['add'], diff['remove']], ['添加', '删除'])

C:\Users\serverworker\AppData\Local\Temp\ipykernel_30984\3104949800.py:2: DeprecationWarning: Importing display from IPython.core.display is deprecated since IPython 7.14, please import from IPython display
  from IPython.core.display import display, HTML